<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Required for Firebase Authentication and Firestore -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecipeConnect"
        tools:targetApi="31">

        <!-- Landing Screen (First screen when app opens) -->
        <activity
            android:name=".activities.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Screen -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true" />

        <!-- Signup Screen -->
        <activity
            android:name=".activities.SignupActivity"
            android:exported="true" />

        <!-- Main Recipes Page (Auto-redirects if user is logged in) -->
        <activity
            android:name=".activities.RecipesHomeActivity"
            android:exported="true" />

        <!-- User Profile Screen -->
        <activity
            android:name=".activities.UserProfileActivity"
            android:exported="true" />

        <!-- Add Recipe Screen -->
        <activity
            android:name=".activities.AddRecipeActivity"
            android:exported="false" />

        <!-- Edit Profile Screen -->
        <activity
            android:name=".activities.EditProfileActivity"
            android:exported="false" />

        <!-- Favorite Recipes Screen -->
        <activity
            android:name=".activities.FavoriteRecipesActivity"
            android:exported="false" />

        <!-- My Recipes Screen -->
        <activity
            android:name=".activities.MyRecipesActivity"
            android:exported="false" />

        <!-- Recipe Detail Screen -->
        <activity
            android:name=".activities.RecipeDetailActivity"
            android:exported="false" />
    </application>

</manifest>